body{
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3, h4, h4, h5, h6{
    font-family: 'Montserrat-Black';
}

/* Heading */
.big-heading{
    font-family: "Monserrat-Bold";
    font-size: 3.5rem;
    line-height: 1.5;
}

.common{
    padding: 7% 15%;
}

/* Section color  */
.colored-section{    
    background-color: #FF4C68;
    color: #fff;
}

.white-section{
    background-color: #FFF;
}

/* Navbar  */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

/* Title Section  */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.iphone-img{
    position: absolute;
    transform: rotate(25deg);
    width: 23%;
}

/* Download button */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Feature section */
#features{
    position: relative;
}

.feature-box {
    padding: 5%;
}

p{
    color: #8F8F8F;
}

.icon{
    color: #EF8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #FF4C68;
}

/* Testimonial section */
#testimonial{
    background-color: #EF8172;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press Section */
#press{
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 50px 20px ;
}

/* Pricing */
#pricing{
    padding: 100px;
}

.price-column{
    padding: 3% 2%;
}

.price-text, .section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA  */
.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }

    .iphone-img{
        position: static;
        transform: rotate(0);
    }
}
